CompileFlags:
  Add:
    - -xc
    - -std=c99
    - -Wall
    - -Wextra
    - -Isrc
    - -I/usr/local/include
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: modernize*
InlayHints:
  ParameterNames: No
